doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title RecipeWiz
    link(rel="stylesheet", href="stylesheets/style.css")
    style.
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      }
      .logo span {
        color: #ffa500;
      }
      nav a.signup {
        background-color: #ffa500;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
      }
      main {
        background-color: #a09a82;
        padding-left:20px;
      }
      .hero {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
      }
      .hero-content {
        flex: 1;
      }
      .hero-content h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
      .hero-content p {
        font-size: 1.5rem;
        margin-bottom:25px;
        
      }
      .btn {
        background-color: #2a4230;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
      }
      .hero-image {
        flex: 1;
        text-align: center;
      }
      .hero-image img {
        max-width: 100%;
        margin-left:20px;
      }
      @media (max-width: 768px) {
        .hero {
        flex-direction: column;
        text-align: center;
        }
        .hero-content h1 {
        font-size: 2rem;
        }
        .hero-content p {
        font-size: 1rem;
        }
      }
  body
    header
      .logo
        | Recipe
        span Wiz
      nav
        a(href="#") Home
        a(href="login") Login
        a.signup(href="#") Sign Up
    main
      .hero
        .hero-content
          h1
            | Learn. Cook. Share.
            br
            | Cooking Made Easy.
          p
            | Say goodbye to long and frustrating food blogs and recipe videos. Access our recipe cards to prepare any dish in minutes.
          a.btn(href="/home") Browse Dish
        .hero-image
          img(
            alt="Delicious Dish" 
            src="images/index-bg-2.jpg"
            )
    footer
      p &copy; 2024 Your Recipe Sharing Website