:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #c3beaa;
  --color-brand: #312f2f;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
body {
  font-family: 'Arial', sans-serif;
  background-color: #6d6253;
  color: #f6f5e8;
  margin: 0;
  padding: 0;
}
header {
  background: #2a4230;
  padding: 20px;
  display: flex;
  color:white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h2 {
  color:#c3beaa;
}
header .logo {
  margin-left:40px;
  font-size: 24px;
  font-weight: bold;
  
}
header .logo span{
  color:rgb(233, 195, 8);
}
header nav a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
  color:white;

}
header nav a:hover {
  text-decoration: bold;
}
.banner {
  width: 100%;
  height: 400px;
  background: url('/images/home-banner.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.content {
  padding: 20px;
}
h1 {
  color: #fcf3cb;
  margin-bottom: 20px;
  border-bottom: 2px solid green;
  display: inline-block;
  padding-bottom: 5px;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recipe-card {
  background: #312f2f;
  border: 1px solid #a09a82;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: calc(29.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.recipe-card:hover {
  transform: translateY(-10px);
}
.recipe-card img {
  width: 385px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.recipe-card h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #bea218;
}
.recipe-card p {
  color: #e6e6e6d1;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space:nowrap;
}

.recipe-card .cuisine {
  color: #999;
  font-size: 12px;
}
.recipe-card .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.recipe-card .actions button {
  background: #20796f;
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.recipe-card .actions button:hover {
  background: #20796f;;
}
.cuisines-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cuisine-container {
  text-align: center;
}
.cuisine-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.cuisine-caption {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.add-recipe-button {
  display: block;
  background: #2f2d2c;
  color: #bea218;
  padding: 30px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px 0;
  transition: background 0.3s;
}
.add-recipe-button:hover {
  background: #555;
}
footer {
  background: #2a4230;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
.topic {
  display:flex;
  justify-content:space-between;
}
.topic h1{
  color:#c3beaa;
  border-bottom: 2px solid rgb(43, 42, 39);
}
.topic h1 a{
  padding:15px;
  background-color: #2f2d2c;
  border-radius: 10%;
  text-decoration: none;
  color:#c3beaa;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(43, 42, 39);
  display: inline-block;
  padding-bottom: 5px;
}
a{
  text-decoration: none;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #218838;
}

